h1, h2 {
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 0 20px;
}

.nav-link {
    text-decoration: none;
}

.image {
    text-align: center;
}

#calendar {
    border-collapse: collapse;
    border: 1px solid gray;
    width: 100%;
    height: 100%;
}

#calendar th,
#calendar td {
    width: 14%;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}

#calendar th {
    background-color: #F2F2F2;
}

#calendar td:first-child {
    color: red;
    height: 100px;
}

#calendar th:first-child {
    color: red;
}

#calendar td:last-child,
#calendar th:last-child {
    color: blue;
} 